div.card-block {
    display: inline-flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.01em;
    border-color: lightgrey;
    border-radius: 0.2em;
    padding: 0.2em 0.2em 1em;
    margin: 0.2em;
    font-size: 8pt;
    font-weight: normal;
}

div.card-block > header {
    order: 1;
    display: table;
    width: 100%;
    vertical-align: middle;
    border-bottom-color: inherit;
    border-bottom-style: inherit;
    border-bottom-width: inherit;
}

div.card-block > header > .title {
    margin-top: 0;
    margin-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
}

/*div.card-block > header::after {*/
/*    height: 0.01em;*/
/*    background-color: lightgrey;*/
/*    content: '';*/
/*    overflow: hidden;*/
/*    display: block;*/
/*}*/

div.card-block > article {
    display: block;
    display: -webkit-box;
    order: 2;
    height: 3.5em;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: fade(1em);
    line-height: 1;
}

div.card-block > footer {
    order: 3;
    display: flex;
    padding-right: 0.2em;
    padding-left: 0.2em;
    justify-content: flex-end;
}
